@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply cursor-pointer;
}

.leading-snug {
    line-height: 1.375;
}

.tracking-wide {
    letter-spacing: .025em;
}


@media (prefers-reduced-motion: no-preference) {

    a, button {
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
    }
}


